<div class="row-fluid">
  <div class="span2">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="span10">
    <h1><%= @story.name %></h1>
    <p><%= link_to 'Add Task', new_story_task_path(@story), class: 'btn pull-right' %></p>

    <table class='table'>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.description %></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
