<h1>New task</h1>

<%= form_for([@story, @task], html: { class: 'form-horizontal' }) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: '3' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :original_estimation, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :original_estimation %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Create", class: 'btn' %>
    </div>
  </div>
<% end %>
