<div class="row-fluid">
  <div class="span2">
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to 'Dashboard', @project %></li>
      <li><%= link_to 'Backlogs', '#' %></li>
      <li><%= link_to 'Users & Roles', project_duties_path(@project) %></li>
      <li><%= link_to 'Sprints', '#' %></li>
    </ul>
  </div>
  <div class="span10">
    <h1><%= @project.name %></h1>
    <p><%= link_to 'Add User', new_project_duty_path(@project), class: 'btn pull-right' %></p>

    <table class='table'>
      <tr>
        <th>User</th>
        <th>Role</th>
        <th></th>
      </tr>
      <% @duties.each do |duty| %>
        <tr>
          <td><%= duty.user.name %></td>
          <td><%= duty.role.name_text %></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
