<div class="row-fluid">
  <div class="span2">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="span10">
    <div class="row-fluid">
      <div class="span12">
        <h2><%= @story.name %></h2>
        <p><%= @story.description %></p>
        <p><%= "#{@story.storypoints} storypoints" %></p>
        <p><%= "#{@story.hours_left} hours left (task-based)" %></p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <h2>Tasks</h2>
        <p><%= link_to 'Add Task', new_story_task_path(@story), class: 'btn' %></p>
        <table class="table table-bordered table-hover">
          <tbody>
            <% @story.tasks.each do |task| %>
              <tr>
                <td><%= link_to task.name, task %></td>
                <td><%= "#{task.original_estimation}h left" %></td>
                <td>
                  <%= link_to 'Edit', edit_task_path(task) %> |
                  <%= link_to 'Delete', '#' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
