<!DOCTYPE html>
<html>
<head>
  <title>Mayushee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <%= link_to 'Mayushee', root_path, class: 'brand' %>
        <ul class="nav">
          <% if user_signed_in? %>
            <li><%= link_to 'Project List', projects_path %></li>
            <% if can? :read, User %>
              <li><%= link_to 'User List', users_path %></li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= yield %>
  </div>

</body>
</html>
